Classification Analysis: Implement K-Nearest Neighbors’
algorithm on social network ad dataset. Compute confusion
matrix, accuracy, error rate, precision and recall on the given
dataset.

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

In [4]:
df = pd.read_csv(r"F:\BE\My Cl1\CL1\m3\Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
X = df.iloc[:,[2,3]]
y = df['Purchased']

X_train, X_test , y_train ,y_test = train_test_split(X,y, test_size=0.2 ,random_state = 100)

In [6]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

k = 5  #no. of neighbours
knn_classifier = KNeighborsClassifier(n_neighbors = k)
knn_classifier.fit(X_train_scaled,y_train)

y_pred = knn_classifier.predict(X_test_scaled)
confusion_matrix(y_test,y_pred)

array([[47,  2],
       [ 6, 25]], dtype=int64)

In [7]:
accuracy = accuracy_score(y_test,y_pred)
error_rate = 1 - accuracy
precision = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)

print("Accuracy :" , accuracy *100 ,"%")
print("Error rate :" , error_rate)
print("Precison :" , precision)
print("Recall :" , recall)

Accuracy : 90.0 %
Error rate : 0.09999999999999998
Precison : 0.9259259259259259
Recall : 0.8064516129032258